# yamllint disable rule:line-length
# yamllint disable rule:truthy
---
name: runner-base-image development build and release

on:
  push:
    branches:
      - "*"
    tags:
      - "*"

permissions:
  contents: read
  actions: read
  security-events: write

jobs:

  runner-dev-build:
    name: runner-base-image development build
    uses: twplatformlabs/gha-tools-workflows/.github/workflows/runner-dev-build.yaml@main
    with:
      before-build: "true"
      registry: ghcr.io
      skip-hadolint: "false"
      scout-version: "latest"
      bats-test: "true"
      bats-version: "latest"
      bats-test-path: "test/runner-base-image.bats"
    secrets:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

  release:
    name: runner-base-image release
    if: startsWith(github.ref, 'refs/tags/')
    uses: twplatformlabs/gha-tools-workflows/.github/workflows/runner-release.yaml@main
    with:
      before-release: "true"
      registry: ghcr.io
      oras-version: "1.3.0"
      include-latest: "true"
      sign-manifest: "true"
    secrets:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
