# yamllint disable rule:line-length
# yamllint disable rule:truthy
---
name: runner-base-image development build

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"

permissions:
  contents: read
  actions: read
  security-events: write

jobs:

  runner-dev-build:
    name: runner-base-image development build
    uses: twplatformlabs/gha-tools-workflows/.github/workflows/runner-dev-build.yaml@main
    with:
      before-build: "true"
      registry: ghcr.io
      skip-hadolint: "false"
      scout-version: "latest"
      bats-test: "true"
      bats-version: "latest"
      bats-test-path: "test/runner-base-image.bats"
    secrets:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
